.sequencer-wrapper {
    background-color: black;
    border-radius: 1rem;
    margin: 2rem;
    padding: 0.5rem;
}
  
.sample {
    background-color: grey;
}

.sequencer {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-gap: .5rem;
}

.step-sequencer {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: .5rem;
}

.block {
    border-radius: 0.5rem;
}

button .block {
    border: 1px transparent solid;
    outline: 1px transparent solid;
}