.sequencer-wrapper {
    background-color: black;
    border-radius: 1rem;
    margin: 2rem;
    padding: 0.5rem;
}
  
.sample {
    background-color: grey;
}

.sample-area {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: .5rem;
}

.sequencer {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-gap: .5rem;
}

.step-sequencer {
    display: grid;
    grid-gap: .5rem;
}

div .block {
    border-radius: 0.5rem;
}

button.block,
div.block {
    border: none;
    outline: none;
    --border-radius: 0.5rem;
}

.block {
    cursor: pointer;
}

.block.even {
    background-color: #646464;
}

.block.odd {
    background-color: #5e4b4b;
}

.block.active {
    filter: brightness(3);
}

div.active {
    background-color: white;
}

div.not-active {
    background-color: #3a3a3a;
}