#root {
  width: 100%;
  height: 100%;
  
}

.wrapper {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 6fr;
}

.sequencer-wrapper {
  background-color: black;
  border-radius: 1rem;
  margin: 2rem;
}

.sample {
  background-color: grey;
}

.sequencer {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-gap: .5rem;
}

.step-sequencer {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: .5rem;
}